/**
 * The file contains styles for GenomeStore
 */

body {
	background: white url('background.jpg') 0 0 repeat;
	background-image: url(background.jpg);
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-position-x: 0px;
	background-position-y: 0px;
	background-origin: initial;
	background-clip: initial;
	background-color: white;
	color: #667079;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: white 1px 1px 0;
}
